<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.p.homeapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.archives.ExpenditureArchivesActivity"
            android:parentActivityName=".views.mainView.FragmentActivity" />
        <activity
            android:name=".views.archives.TaskArchivesActivity"
            android:parentActivityName=".views.mainView.FragmentActivity" />
        <activity
            android:name=".views.groupView.EditGroupActivity"
            android:parentActivityName=".views.mainView.FragmentActivity" />
        <activity
            android:name=".views.invitation.InvitationMenuActivity"
            android:parentActivityName=".views.mainView.FragmentActivity" />
        <activity
            android:name=".views.groupView.GroupMenuActivity"
            android:parentActivityName=".views.groupView.GroupActivity" />
        <activity
            android:name=".views.groupView.createGroup.CreateGroupActivity"
            android:parentActivityName=".views.groupView.GroupActivity" />
        <activity
            android:name=".views.updateTask.TaskUpdateActivity"
            android:parentActivityName=".views.mainView.FragmentActivity" />
        <activity
            android:name=".views.addingSettlementViews.AddSettlementActivity"
            android:parentActivityName=".views.mainView.FragmentActivity" />
        <activity
            android:name=".views.addingTasksViews.AddTaskActivity"
            android:parentActivityName=".views.mainView.FragmentActivity" />
        <activity
            android:name=".loginAndRegister.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".loginAndRegister.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.groupView.GroupActivity"
            android:parentActivityName=".views.mainView.FragmentActivity" />
        <activity
            android:name=".views.mainView.FragmentActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>